.text-center
    text-align: center
.fs-1
    font-size: 3rem
.fw-semibold
    font-weight: bold
.text-bg-secondary
    background-color: #6c757d
    color: #fff
.p-0
    padding: 0
.certi
    width: 100%
    img,a
        width: 75%
        padding: 20px
.row
    width: 100%
    display: flex
    justify-content: center
    flex-wrap: wrap
    img
        width: 275px
@media (min-width:600px)
    .row
        img
            width: 400px
    .certi
        img,a
            width: 95%
